html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  max-width: 100%;
}
body {
  background: #EEE;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  font-family: 'Droid Sans', arial, serif;
}

a {
  text-decoration: none;
  color: #2E70B1;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 0.8em;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(34, 46, 54);
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: normal;
    margin-bottom: 6px;
    line-height: 125%;
}
#block-newtheme-sitebranding{
    margin: 25px 0;
    position: relative;
    padding-left: 50px;
}
#block-newtheme-sitebranding h2{
	font-size: 25px;
	font-weight: bold;
	line-height: 100%;
}
.site-logo {
    position: absolute;
    left: 0;
    top: 0;
}
.site-slogan {
    color: rgb(148, 146, 146);
    margin: 0;
    font-size: 12px;
    line-height: 100%;
}
#site-title {
    margin: 25px 0;
    font-size: 30px;
    font-weight: bold;
}
#site-title, #site-description {
    float: left;
}
#block-mainnavigation{
	border-bottom: 2px solid rgb(251, 90, 2);
	background: none repeat scroll 0 0 rgb(39, 39, 39);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
	-o-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
}
.navbar{
	margin-bottom: 0;
	border: 0;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
#main-menu ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
}
#main-menu ul li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
#main-menu a {
    display: block;
    color: rgb(153, 153, 153);
    text-align: center;
    padding: 15px 23px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
#main-menu a:hover, #main-menu li a.active {
    color: #FFF;
    text-decoration: none;
    background: none repeat scroll 0 0 rgb(251, 90, 2);
}
.main-content{
	padding-top: 15px;
	padding-bottom: 15px;
  background: #fff;
}
#footer {
    color: #8A8A8A;
    background: rgb(39, 39, 39);
    border-top: 1px solid #CFD7DB;
}
#footer ul  li {
    background: url(../images/marker.png) no-repeat scroll 4px center rgba(0, 0, 0, 0);
    list-style: none outside none;
    margin: 0 0 2px;
    padding: 0 15px;
}
.footer-area h2 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(251, 90, 2);
    margin: 5px 0px;
    padding: 0px 0px 4px 0px;
}
#footer a {
    color: rgb(251, 90, 2);
}
.footer-area {
    padding: 30px 0;
}

.copyright {
    color: #777;
    overflow: auto;
    padding: 10px 0px;
    background: #000;
    text-align: center;
}
.copyright p{
	margin: 0;
}